<style>
  .name-a {
    color: #aa0000;
  }
  .name-r {
    color: #ffa500;
  }
  .name-t {
    color: #b8860b;
  }
  .name-e {
    color: #00aa00;
  }
  .name-m {
    color: #5555ff;
  }
  .name-i {
    color: #ff55ff;
  }
  .name-s {
    color: #aa00aa;
  }
</style>

<span class="name">
  <span class="name-a">A</span><span class="name-r">r</span><span class="name-t"
    >t</span
  ><span class="name-e">e</span><span class="name-m">m</span><span
    class="name-i">i</span
  ><span class="name-s">s</span>
</span>
