header > div {
    flex-direction: row;

    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.technologies {
    column-count: 3;
}

.profile img {
    max-width: unset;
}

details img {
    margin: 10px;
    width: unset;
}

body {
    width: unset;
}

.gallery {
    min-width: 30%;
}

.gallery-images > li > img {
    /* height: unset; */
}

.project-item {
    display: flex;
}


.align-right {
    flex-direction: row-reverse;
}

.description {
    padding: 32px;
    flex: 2;
}

.gallery {
    flex: 1.5;
    margin: 16px;

}

[data-theme-toggle] span {
    display: flex;
}