---
import { Icon } from "astro-icon/components";
---

<style>
  html[data-theme="dark"] #light {
    display: none;
  }

  html[data-theme="light"] #dark {
    display: none;
  }

  button div {
    display: flex;
    gap: 8px;
  }

  [data-theme-toggle] {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
    font-family: var(--font);
    color: var(--color-link);
  }

  [data-icon] {
    color: var(--color-primary);
  }

  [data-theme-toggle] span {
    display: none;
  }

  @media screen and (min-width: 890px) {
    [data-theme-toggle] span {
      display: flex;
    }
  }
</style>

<button data-theme-toggle type="button">
  <div id="light">
    <span class="underline">Light mode</span><Icon name="fa6-regular:sun" />
  </div>
  <div id="dark">
    <span class="underline">Dark mode</span><Icon name="fa6-regular:moon" />
  </div>
</button>

<script>
  const themeButtonEl = document.querySelector("[data-theme-toggle]");

  const localStorageTheme = localStorage.getItem("theme") ?? "";
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");

  var theme: string;

  if (localStorageTheme !== null) {
    theme = localStorageTheme;
  } else if (prefersDark) {
    theme = "dark";
  } else {
    theme = "light";
  }

  document.documentElement.setAttribute("data-theme", theme);

  window.localStorage.setItem("theme", theme);

  const toggleTheme = () => {
    const element = document.documentElement;

    theme = theme === "dark" ? "light" : "dark";

    document.documentElement.setAttribute("data-theme", theme);

    const isDark = element.getAttribute("data-theme") == "dark";
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  themeButtonEl?.addEventListener("click", toggleTheme);
</script>
