---
import { Icon } from "astro-icon/components";
---

<div class="horizontal">

</div>

<style>
  .horizontal {
    display: flex;
    gap: 8px;
    vertical-align: middle;
  }
  span {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  #copy-span {
    display: flex;
  }
</style>

<script>

</script>
