.proficient {
    color: green
}

.semi-proficient {
    color: darkgreen
}

.intermediate {
    color: orange
}

.semi-awful {
    color: tomato
}

.awful {
    color: red
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 150%;
    overflow-x: hidden;
    max-width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

h2 {
    margin-bottom: 0px;
}

.prevent-hyperlink {
    text-decoration: none;
    color: black
}

.underline {
    text-decoration: underline;
    color: blue
}

.profile {
    display: flex;
    gap: 10px;
}

.profile-img {
    margin-left: auto;
}

.bio {
    flex-direction: column;
}

.name-a {
    color: #AA0000
}

.name-r {
    color: orange
}

.name-t {
    color: darkgoldenrod
}

.name-e {
    color: #00AA00
}

.name-m {
    color: #5555FF
}

.name-i {
    color: #FF55FF
}

.name-s {
    color: #AA00AA
}

#name {
    font-weight: bolder;
}

#age {
    padding: .2em .4em;
    margin: 0;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

footer {
    text-align: center;
    color: grey;
}

